.header {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
}
.header p {
  width: 90%;
}
.head-intro {
}
.grid-container {
  margin-top: 2rem;
  margin-left: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.grid-container p {
  font-weight: bold;
  font-size: 1.2rem;
}
.item2,
.item4,
.item6 {
  margin-top: 30px;
}
img {
  width: 70%;
}
span {
  position: absolute;
  writing-mode: vertical-rl;
  margin-top: 5px;
}
.bottom {
  text-align: center;
}
.bottom a {
  color: black;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  .header h1 {
    width: 50%;
    font-size: 2rem;
  }
  .head-intro {
    width: 50%;
  }
  img {
    width: 40%;
  }
  .grid-container {
    margin-top: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .item2 {
    margin-top: 4rem;
  }

  .item5 {
    margin-top: 6rem;
  }
  span {
    font-size: 1.5rem;
  }
}
